/* estilos da pagina index.html */

.center {
    text-align: center;
}

.foto{
    -webkit-box-shadow: inset -8px -10px 12px -4px rgba(95, 119, 138, 0.74); 
    box-shadow: inset -8px -10px 12px -4px rgba(157, 164, 170, 0.74);
}

#starwars {
    color: #ffc048;
}

.fonte{
    color: rgb(221, 233, 233);
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;

}

.wh {
    width: 450px;
    height: 450px;
}

.tm-social {
    width: 50px;
    height: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}


/* estilos da pagina contato.html */
.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    font-size: 2rem;
    text-decoration: none;
    color: #f1f2f6;

}

.links:hover {
    text-decoration: underline;
    color: #7b4881;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;

}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 0 0 1rem 0;
    width: 100%;

}

.campo label {
    
    font-size:  1.275rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input, .campo textarea {
    padding: 0.5rem ;
    font-size: 1.5rem;
    border: 0;
    border-bottom: 1px solid #7b4881;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    width:  50%;
    padding: .5rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
    border-radius: 1rem;
    border: 2px solid #7b4881;
    background: transparent;
    transition: 0.3s;
    
}

button:hover {
    background: #7b4881;
    
}

body {
    background-color: #1e272e;
    background: linear-gradient(to top, #040305, #1e272e);
}

*{
    font-family: sans-serif;
}

